* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    display: flex; /*configurar um conteiner flexivel*/
    justify-content: center; /*centralizam o conteudo horizontal e verticalmente dentro do conteiner*/
    align-items: center; /*centralizam o conteudo horizontal e verticalmente dentro do conteiner*/
    height: 100vh; /*garante que o corpo ocupe a altura total da janela de visualizao(viewport)*/
    margin: 0; /*remove as margens padrao corpo para evitar espaços indesejados*/
    background-color: rgba(230, 230, 224, 0.664);

}

form {
    text-align: center; /* Para centralizar os elementos dentro do formulário */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 300px;
    /*background-color: #f9f9f9;*/
  }

#div-remember {
    text-align: left;
}

p {
    margin-top: 60px;
    margin-bottom: 0;
}

#div-remember{
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 68px;
}

#btn-signin {
    margin-top: 10px;
}

#ck-b {
    cursor: pointer;
}

#btn {
    width: 100px; /*largura*/
    cursor: pointer;
}

#div-email, #div-password {
    height: auto;
    width: auto;
    text-align: left;
    width: 200px;
    margin: 5px;
    
}

.campos {
    display: flex; /*conteiner flexivel*/
    flex-direction: column; /*alinhar em coluna*/
    justify-content: center;
    align-items: center;
    margin-left: 40px;
}   


